
body {
  font-size: 12px;
  font-family: Arial;
}

#header {
  border: 1px solid #444;
  height: 20px;
  margin-bottom: 3px;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#footer {
  border: 1px solid #444;
  height: 15px;
  margin-top: 3px;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#container_top {
  border: 1px dashed #444;
  height: 46%;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#container_mid {
  border: 1px dashed #444;
  height: 46%;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.left, .middle, .right {
  width: 32.5%;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: solid #000000 1px;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

#header {
  background: #ccc
}

#footer {
  background: #0ff
}

